<mat-toolbar color="primary" class="navbar">
    <div>
        Hi User
    
    </div>
    <div>
        Cars 24x7
    </div>

    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item>
                <mat-icon>shopping_cart</mat-icon>
                <span>Go to Cart</span>
            </button> -->
            <button mat-menu-item (click)="userlogout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>

<!-- <div>
    Vehicle Details
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Variant</th>
                <th scope="col">Color</th>
                <th scope="col">Year</th>
                <th scope="col">Price</th>
                <th scope="col">Add to Cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of userVehicle">
                <td>{{x.vehicleId}}</td>
                <td>{{x.vehicleBrand}}</td>
                <td>{{x.vehicleModel}}</td>
                <td>{{x.vehicleVariant}}</td>
                <td>{{x.vehicleColor}}</td>
                <td>{{x.manufactureYear}}</td>
                <td>{{x.price}}</td>
                <td><button mat-icon-button><mat-icon>add</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="container">
    <mat-card class="example-card" *ngFor="let x of userVehicle">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{x.vehicleBrand}}</mat-card-title>
            <mat-card-subtitle>{{x.vehicleModel}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/{{x.vehicleModel}}.png" alt="VehicleImg">
        <mat-card-content>
            <div id="inline">
                <div>Color : {{x.vehicleColor}}</div>

                <div>Variant : {{x.vehicleVariant}}</div>
            </div>
            <div id="inline2">
                <div>Year : {{x.manufactureYear}}</div>
                <div>Price : {{x.price}}</div>
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Order</button>
        </mat-card-actions>
    </mat-card>
</div>


  
  <!-- Modal Order -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLongTitle">Order confirmation</div>
        </div>
        <div class="modal-body">
            Are you Sure to Order this Vehicle ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="order()">Yes</button>
        </div>
      </div>
    </div>
  </div>





